
.header{
    border: 1px solid wheat;
    border-radius: 2rem;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba( 255, 255, 255, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.navigation{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 2rem;
    gap: 2rem;
}
.navigation a{
    text-decoration: none;
    color: rgb(15, 15, 15);
}
.navigation a:hover{
    color: black;
    text-decoration: underline;
}
