/* .main{
    background-color: blue;
} */

.services{
}

.services__tittle{
    font-size: 2rem;
    text-align: center;
}

.services__content{
    font-weight:bold;
}

.services__image{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;   
}
.services__image_professional{
    object-fit: cover;
    border-radius: 100%;
}
.professional__content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.professional__description{
    font-weight:bold;
    text-align: justify;
    padding-left: 1rem;
    padding-right: 1rem;
}


.galery__content{
    display: grid;
    grid-column: 1fr 1fr;
    grid-row: 1fr 1fr;
}